#Ignore All Folders?
*
!*/
!/.gitignore

#CurseBreaker
!/WTF/
!/WTF/Config.wtf
!/WTF/CurseBreaker.cache
!/WTF/CurseBreaker.json
!/WTF/SavedVariables/**
!/WTF/CASTHEWARLORD/**

#Lol storing binary in git
!CurseBreaker.exe

#Interface Stuff
!/Screenshots/
!/Interface/AddOns/SharedMedia/**
!/Interface/AddOns/SharedMedia_MyMedia/**
!/Interface/AddOns/AKureqUI/**
!/Interface/ole/**
!/Interface/Textures/**
!/Interface/wizard/**